<!DOCTYPE html>
< lang="en">
<head>
    <meta charset="UTF-8">
    <title>АИ ГЕНЕРАТИОН СЕРВИСЕ ЖПЕГ</title>
</head>
<div>
    <ul>
    <li><a href="">Главная</a></li>
    <li><a href="">О нас</a></li>
    <li><a href="">Регестрация</a></li>
    </ul>
</div>
<div>
    <div>
        <img src="{%ImgGenerationObj%}">
    </div>
    <div>
        <h2>Сгенерируй свою хуйню сейчас</h2>
            <form method="post" action="postuser/">
            {% csrf_token %}
            <p>Пишем сюда:<br> <input name="AiRеq" type="string" /></p>
            <input type="submit" value="Сгенерировать" />
            </form>
    </div>
</div>
</div>
</body>
</html>